.add-product{
    display: flex;
    justify-content: center;
}
.product-form{
    border-radius: 4px;
    margin: 10px;
    padding: 30px;
    width: 320px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn{
    float: right;
}